h1,h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white { /*トップページ新規登録・ログインボタン*/
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  text-align: center;
  
  &:hover {
    color: #777;
  }
}


.top-hero-wrapper-text-conter { /*トップページ*/
  width: 100vw;
  height: 100vh;
  background-image: url('A6400229.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container { /*トップページテキスト*/
  padding-top: 220px;
  h1 {
    font-size: 130px;
    margin-bottom: 0px;
    text-align: center;
    color: #FF8C00;
    background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h2 {
    margin-bottom: 35px;
    text-align: center;
  }
}

.admin-users-new { /*ユーザー登録画面*/
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  background-image: url('A6400229.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.form-group { /*入力フォーム*/
  padding-top: 20px;
}

.form-name-text { /*フォーム名*/
  font-size: 17px;
  color: #fff;
}


.nav-transparent { /*ナビゲーションバー*/
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }
  .alert.alert-success {
  text-align: center;
  }
}

.alert.alert-success {
  font-size: 18px;
  text-align: center;
  }

.topic-edit-wrapper { /*更新ページ*/
  padding-top: 30px;
  .admin-form-name-text {
    color: #000;
  }
  
}

.new-topic-form-name-text {
  color: #000;
}
