h1,h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.0);
  text-align: center;
  
  &:hover {
    color: #777;
  }
}

.top-hero-wrapper-text-conter {
  width: 100vw;
  height: 100vh;
  background-image: url('A6400229.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 100px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
}

.admin-users-new {
  width: 100vw;
  height: 100vh;
  background-image: url('A6400229.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.form-group {
  padding-top: 20px;
}

.form-name-text {
  font-size: 17px;
  color: #fff;
}