h1,h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white { /*トップページボタン*/
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.0);
  text-align: center;
  
  &:hover {
    color: #777;
  }
}

.top-hero-wrapper-text-conter { /*トップページ*/
  width: 100vw;
  height: 100vh;
  background-image: url('A6400229.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 100px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
}

.admin-users-new { /*ユーザー登録画面*/
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
  background-image: url('A6400229.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.form-group { /*入力フォーム*/
  padding-top: 20px;
}

.form-name-text { /*フォーム名*/
  font-size: 17px;
  color: #fff;
}

.topic-index-wrapper { /*記事一覧ページ*/
  padding-top: 10px;
  .topic-index-single { /*投稿記事*/
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-title { /*記事タイトル*/
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .topic-text { /*記事説明*/
      padding-right: 20px;
      padding-left: 20px;
    }
    
    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 50%;
    }
  }
}

.nav-transparent { /*ナビゲーションバー*/
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }
}

.topic-show-wrapper { /*詳細ページ*/
  padding-top: 30px;
}

.topic-edit-wrapper { /*更新ページ*/
  padding-top: 30px;
  .admin-form-name-text {
    color: #000;
  }
}

.new-topic-form-name-text {
  color: #000;
}
