          /*   記事一覧背景   */
          
body
{
    background: url("A6400224.JPG");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: cover;  /* 全画面 */
    background-attachment: fixed;  /* 固定 */
    background-position: center center;   
}



          /*  記事本体  */
          
          
.topic-index-wrapper {  /*記事一覧ページ*/
  padding-top: 30px;
  text-align: center;
  .topic-body {  /*投稿記事*/
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    float: left;
    .topic-title {  /*記事タイトル*/
      a {
        color: #000 !important;
      }
    }
    .topic-explanation { /*記事本体紹介（写真・文）*/
      display: flex;
      img {  /*記事本体（写真）*/
        margin-top: 10px;
        margin-bottom: 20px;
        width: 55%;
      }
      .topic-text {  /*記事説明*/
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
}

img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 70%;
    }
    
.btn-info { /*詳細ページボタン*/
  padding-top: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  text-align: center;
  
  &:hover {
    color: #fff;
  }
}


        /*　新規投稿　*/


.topic-new-wrapper { 
    padding-top: 20px;
    .topics-new-container {
      padding: 10px;
      .topic-form {  /*　新規投稿フォーム  */
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #fff;
    }
  }  
}
.topics-new-container {
  padding-top: 10px;
}

.topic-form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}



        /*  詳細ページ  */


.topic-show-wrapper {  /*詳細ページ*/
  padding-top: 30px;
  text-align: center;
  .topic-show {
    background-color: #fff;
    padding-bottom: 200px;
    .topic-show-text {
      font-size: 17px;
    }
    .review-title-left { /*レビュー投稿タイトル（タイトル・名前）*/
      text-align: left;
      font-size: 30px;
      background-color: #FFFFCC;
      word-wrap: break-word;
      margin-right: 80px;
      .show-review-title {  /*レビュー投稿タイトル（タイトル）*/
        font-size: 30px;
        border-radius: 2px;
        border-left: 10px solid;
        border-right: 40px;
        .show-user-name {  /*レビュー投稿タイトル（名前）*/
          font-size: 15px;
          margin-top: 5px;
          padding-right: 10px;
        } 
      }
   }   
  }
 }
 
.topic-score {  /*  レビュー投稿評価  */
  .flex-score { 
    display: flex;
    .form-score {
      width: 270px;
      margin-left: 5px;
    }
  }
}


 .review-text {  /*　レビュー投稿後、文　*/
  margin-bottom: 20px;
  text-align: center;
  word-wrap: break-word;
  font-size: 18px;
  margin-right: 80px;
}


.review-score { /*　レビュー投稿後、評価　*/
  font-size: 20px;
}